{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="users-container">
    <div class="page-header">
        <h1>Proveedores</h1>
        <a href="{% url 'crear_proveedores' %}" class="action-button">
            <i class="fas fa-plus"></i> Agregar Proveedor
        </a>
    </div>

    <div class="table-container">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lista %}
                    <tr>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.telefono }}</td>
                        <td>{{ item.direccion }}</td>
                        <td>
                            <a href="{% url 'editar_proveedores' item.id %}" class="edit-button">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}