{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="users-container">
    <div class="page-header">
        <h1><i class="fas fa-trash-alt"></i> Mermas</h1>
    </div>

    <div class="form-card">
        <form method="get">
            <div class="form-grid">
                <div class="form-column">
                    <div class="form-group">
                        <label for="tipo_merma">Tipo de merma:</label>
                        <select name="tipo_merma" id="tipo_merma">
                            <option value="">Todos</option>
                            <option value="Caducidad" {% if request.GET.tipo_merma == "Caducidad" %}selected{% endif %}>
                                Caducidad
                            </option>
                            <option value="Produccion" {% if request.GET.tipo_merma == "Produccion" %}selected{% endif %}>
                                Producción
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-column">
                    <div class="form-group">
                        <label for="fecha_registro">Fecha de registro:</label>
                        <input type="date" id="fecha_registro" name="fecha_registro" value="{{ request.GET.fecha_registro }}"/>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="action-button">
                    <i class="fas fa-filter"></i> Filtrar
                </button>
                <a href="{% url 'lista_mermas' %}" class="back-button">
                    <i class="fas fa-times"></i> Limpiar
                </a>
            </div>
        </form>
    </div>

    <div class="table-container mt-4">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Tipo de merma</th>
                    <th>Cantidad</th>
                    <th>Fecha registro</th>
                    <th>Merma</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lista %}
                    <tr>
                        <td>{{ item.tipo_merma }}</td>
                        <td>{{ item.cantidad }}</td>
                        <td>{{ item.fecha_registro|date }}</td>
                        <td>
                            {% if item.insumo is not None %}
                                {{ item.insumo }}
                            {% else %}
                                {{ item.produccion }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% comment %} <div class="form-actions">
        <a href="{% url 'home' %}" class="back-button">
            <i class="fas fa-arrow-left"></i> Regresar
        </a>
    </div> {% endcomment %}
</div>
{% endblock content %}