{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="pantalla-completa">
    <div class="menu">
        <h1 class="text-center">
            Editar Usuario
        </h1>
        </hr>
        <div class="row mt-4">
            <form class="col-lg-12 col-md-12 col-sm-12 col-12 align-items-center justify-content-center" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="d-flex">
                    <div class="d-flex col-lg-6 col-md-6 col-sm-12 col-12 px-2 align-items-center justify-content-end">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div>
                                {{ form.first_name.label_tag }}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <div>
                                {{ form.email.label_tag }}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    {{ form.email }}
                                </div>
                            </div>
                            <div>
                                {{ form.password1.label_tag }}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    {{ form.password1 }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-lg-6 col-md-6 col-sm-12 col-12 px-2 align-items-center justify-content-start">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div>
                                {{ form.last_name.label_tag }}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <div>
                                {{ form.username.label_tag }}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    {{ form.username }}
                                </div>
                            </div>
                            <div>
                                {{ form.password2.label_tag }}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    {{ form.password2 }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex col-lg-12 col-md-12 col-sm-12 col-12 align-items-center justify-content-center mt-2">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div>
                            {{ form.grupo.label_tag }}
                            <div class="d-flex col-lg-12 col-md-12 col-sm-12 col-12 align-items-center justify-content-center">
                                {{ form.grupo }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex col-lg-12 col-md-12 col-sm-12 col-12 align-items-center justify-content-center mt-2">
                    <div>
                        {{ form.is_active.label_tag }}
                        <div class="d-flex col-lg-12 col-md-12 col-sm-12 col-12 align-items-center justify-content-center">
                            {{ form.is_active }}
                        </div>
                    </div>
                </div>
                <div class="d-flex col-lg-12 col-md-12 col-sm-12 col-12 align-items-end justify-content-end mt-3 px-2">
                    <a class="btn btn-danger me-2" href="{% url "lista_usuarios" %}">
                        Regresar
                    </a>
                    <button class="btn btn-success ms-2" type="submit">
                        Guardar
                    </button>
                </div>
            </form>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>
                            {{ error|escape }}
                        </li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>
                        {{ error|escape }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}