.pantalla-completa{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E9D09E;
}

.menu{
    width: 95%;
}

h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.btn{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.menu-button{
    background-color: #D9D9D9;
    border-radius: 0rem;
    width: 30%;
    height: 100%;
    padding: 5% 0%;
}

i{
    margin-bottom: 15%;
}

.alto{
    height: 30%;
}
