.pantalla-completa{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E9D09E;
}

h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}