{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1 class="text-center">
        Carrito de Compras
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre de la Galleta
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Unidad
                </th>
                <th>
                    Precio Unitario
                </th>
                <th>
                    Subtotal
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in carrito %}
                <tr>
                    <td>
                        {{ item.nombre }}
                    </td>
                    <td>
                        {{ item.cantidad }}
                    </td>
                    <td>
                        {{ item.unidad }}
                    </td>
                    <td>
                        &dollar;{{ item.precio_maximo|floatformat:2 }}
                    </td>
                    <td>
                        &dollar;{{ item.total|floatformat:2 }}
                    </td>
                    <td>
                        <form method="POST" action="{% url 'eliminar_del_carrito' item.nombre %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    Total:
                </td>
                <td>
                    &dollar;{{ total|floatformat:2 }}
                </td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'procesar_venta' %}" class="btn btn-success">
        Confirmar venta
    </a>
    <a href="{% url 'venta' %}" class="btn btn-danger">
        Regresar
    </a>
{% endblock content %}