.pantalla-completa{
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E9D09E;
}

h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.ancho{
    width: 90%;
}

.btn {
    font-weight: bold;
}